{% extends './layout.html' %}
{% block content %}
  <form action='/employees' method='POST'>
    <div class='form-group'>
      <label>first name</label>
      <input class='form-control' name='firstName' placeholder='employee first name'></input>
    </div>
    <div class='form-group'>
      <label>last name</label>
      <input class='form-control' name='lastName' placeholder='employee last name'></input>
    </div>
    <button class='btn btn-primary'>Create Employee</button>
  <ul class='list-group'>
    {% for employee in employees %}
      <li class='list-group-item' href='/employees/{{employee.id}}'>
        {{ employee.fullName }}
        <form method='POST' action='/employees/{{employee.id}}?_method=DELETE'>
          <button class='btn btn-danger'>Fire Employee</button>
        </form>
      </li>
    {% endfor %}
  </ul>
</form>
{% endblock %}
