{% extends './layout.html' %}
{% block content %}
<h2>Employees</h2>
<form method='POST' style='border: solid 1px black; border-radius: 5px; padding: 10px;'>
  <input name='firstName' placeholder='First name:'/>
  <input name='lastName' placeholder='Last name:'/>
  <input name='nicknames' placeholder='Nicknames:'/>
  <button class='btn btn-primary'>Create A New Employee</button>
</form>
<ul class='list-group'>
  {% for employee in employees %}
    <li class='list-group-item'>
      <a href='/employees/{{employee.id}}'>
        {{ employee.fullName }}
      </a>
      has {{ employee.nicknames.length }} nickname(s)
    </li>
  {% endfor %}
</ul>
{% endblock %}
